// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Gallos Blancos
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/gallos-app.jpg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | En colaboración con el equipo de Querétaro F.C. desarrollamos el front-end de su aplicación móvil, es decir las vistas y funcionalidades de estilos, yo particularmente estaba a cargo de las aplicaciones de América, Pumas y Gallos Blancos. El sistema de recompensas era el mismo del Club América. Las secciones que se visualizan en el inicio, las desarrollé desde cero, al inicio era un carrousel con los últimos partidos, marcador y un sistema de votaciones de Quién Ganará, seguido de la sección de noticias y su respectiva funcionalidad de reproducir videos, imágenes, mostrar likes, comentarios y vistas. Actualmente la app corre a cargo de otra empresa.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar
