// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Club América Web
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/america-web.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | En colaboración directa con el Club América, creamos esta nueva versión de la web, ya que antes la página estaba alojada en un Wordpress, hicimos también un administrador en donde se pudieran subir las entradas de blog y administrar otras secciones.
                            a.mb-4
                                | https://www.clubamerica.com.mx
                            br
                            br
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar
