// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Claro Música Web
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/claro-music.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | En constante colaboración con el equipo de Claro Musica, desarrollamos distintas funcionalidades de la página web del reproductor, constantemente se corrigen funcionalidades y tuve la oportunidad de trabajar en un rediseño de la web.
                            a.mb-4
                                | https://www.claromusica.com
                            br
                            br
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar
